<div class="pragmatic_header">
    <div>
        <h1 class="pragmatic_logo">Busan Youth Center</h1>
    </div>
    <div class="pragmatic_header_navbar">
        <a href="{% url 'blogs:list' %}" class="pragmatic_header_nav">
            <span>Posts</span>
        </a>
        <a href="#" class="pragmatic_header_nav">
            <span>Projects</span>
        </a>
        <a href="#" class="pragmatic_header_nav">
            <span>Subscription</span>
        </a>
        <!-- {% if not user.is_authenticated %}
        <a href="{% url 'users:login' %}?next={{ request.path }}" class="prgmatic_header_nav">
            <span>login</span>
        </a>
        <a href="#" class="pragmatic_header_nav">
            <span>SignUp</span>
        </a>
        {% else %}
        <a href="{% url 'users:detail' pk=user.pk %}" class="pragmatic_header_nav">
            <span>MyPage</span>
        </a>
        <a href="{% url 'users:logout' %}?next={{ request.path }}" class="prgmatic_header_nav">
            <span>logout</span>
        </a>
        {% endif %} -->
    </div>
</div>