body {
    /* margin: 0 auto; */
    color: #3f464d;
    font-family: 'Pretendard', 'Sans-serif';
   }


/* (미디어쿼리) 스크린의 사이즈가 500px 이하로 떨어지면 안에 있는 태그들이 적용된다 */
@media screen and (max-width: 500px) {
    html {
        font-size: 13px;
    }
}

/* a 링크 태그 스타일 초기화 */
a {
    all: unset;
    color: block;
}

a:hover {
    color: #7FDBB3;
    text-decoration: none; /* Removes underline */
}

.pragmatic_header {
    text-align:center;
    margin: 2rem 0;
}

.pragmatic_header_nav {
    margin: 0 0.5rem;

}

.pragmatic_header_navbar {
    margin: 1rem 0;
}

.pragmatic_logo {
    font-family: 'Lobster', cursive;
}

.pragmatic_footer_button {
    font-size: .9rem;
}

.pragmatic_footer {
    text-align:center;
    margin-top: 2rem;
}



