{% extends 'base.html' %} 
<!-- {% load bootstrap4 %} -->
{% load static %}

{% block content %}

    <style>

        .container {
            padding: 0;
            margin: 0 auto;
        }
        
        .container a {
            width: 45%;
            max-width: 250px;

        }

        .container div {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 1rem;
          }

        .container img {
            width: 100%;
            border-radius: 1rem;
        }
          
          
    </style>

    {% if article_list %}
    <div class="container">
      {% for article in article_list %}
      <a href="{% url 'articles:detail' pk=article.pk %}">
        {% include 'partials/card.html' with article=article %}
      </a>
      {% endfor %}
    </div>
    <!-- (매직그리드 라이브러리 활용) 스크립트에서 src도 연결해주어야함 -->
    <script src="{% static 'js/magicgrid.js' %}" ></script>
    {% else %}
    <div style="text-align:center;">
        <h1>No Articles Yet!</h1>
    </div>
    {% endif %}

    {% include 'partials/pagination.html' with page_obj=page_obj %}

    
    <!-- 이 user가 Login이 되어 있지 않다면 (로그인을 보여주고), 로그인 되어 있다면 logout을 보여줘라 -->
    <!-- ?next={{ request.path }}를 씀으로서 로그인(로그아웃)을 하고 나서 원래 있어던 그 자리로 올 수 있게 된다. -->
    <!-- user가 로그인했는지 아닌지 확인할 수 있는 방법(user.is_authenticated) -->
    <div style="text-align:center;">
        {% if user.is_authenticated %}
        <a href="{% url 'articles:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
            Create Article
        </a>
        {% else %}
        <a href="{% url 'users:login' %}?next={{ request.path }}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
            Log in
        </a>
        <a href="{% url 'users:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
            Sign up
        </a>
        {% endif %}
    </div>

    
{% endblock %}

